@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mint: #E4F1EE;
  --soft-orange: #FFB38E;
}

body {
  background-color: #fcfcfc;
  color: #333;
}

.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
}
